<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Member List</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container" th:fragment="content">
            <h1>List Of Member</h1>
            <table class="table table-condensed table-striped table-responsive ">
                <thead>
                    <div class="col-sm-2">
                        <a href="addmember.html" class="btn btn-info" role="button" th:href="@{/member/addmember}">Add New</a>
                    </div>
                    <tr>
                        <th>Full Name</th>
                        <th>NickName</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone No</th>
                        <th>Birthdate</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <form>
                        <tr th:each ="m :${listMember}">
                            <td th:text ="${m.fullname}">Hardinal Fahmi</td>
                            <td th:text ="${m.nickname}">Hardinal</td>
                            <td th:text ="${m.email}">hardinal.fahmi@gmail.com</td>
                            <td th:text ="${m.address}">Jakarta</td>
                            <td th:text ="${m.phoneno}">08097967</td>
                            <td th:text ="${m.birthdate}">1986-05-02</td>
                            <td>
                                <a href="editmember.html" th:href="@{/member/editmember(id=${m.id})}">
                                    Edit
                                </a>|
                                <a href="viewmember.html" th:href="@{/member/viewmember(id=${m.id})}">
                                    View
                                </a>|
                                <a href="form.html" th:href="@{/member/deletemember(id=${m.id})}">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>
        </div>
        
    </body>
</html>
