<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View Member</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container" th:fragment="content">
            <legend>Entry Article Form </legend>
            <div class="panel panel-default">
                <form class="form-horizontal" role="form" action="#" th:action="@{/article/addarticle}" th:object="${article}" 
                      method="post">

                    <div class="form-group"><input type="hidden" th:field="*{id}" /></div>
                    <div class="form-group">
                        <label for ="title" class="control-label col-sm-2">Title : </label>
                        <div class="col-sm-6">
                            <input type="text" placeholder="Enter Title" class="form-control" th:field="*{title}" />
                        </div>
                        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                    </div>
                    <div class="form-group">
                        <label for ="content" class="control-label col-sm-2">Content : </label>
                        <div class="col-sm-6">
                            <textarea id="address" name="content" placeholder="Enter Your Content" rows="6" class="form-control" th:field="*{content}"> </textarea>
                        </div>
                        <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
                    </div>
                    <div class="form-group">
                        <div class="container-fluid bg-2 text-center">
                        <input type="hidden" class="form-control" name="createdOn" id="createdOn" th:value="${#dates.format(#dates.createNow() ,'yyyy-MM-dd HH:mm')}"/>
                        <div th:if="${#fields.hasErrors('createdOn')}" th:errors="*{createdOn}"></div>
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <div class="container-fluid bg-2 text-center">
                            <input type="submit" class="btn btn-default" value="Save" />
                            <a href="listarticle.html" class="btn btn-default" role="button" th:href="@{/article/listarticle}">Return</a>
                        </div>
                    </div>
                </form>                
            </div>
        </div> 
    </body>
</html>
