<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>View Member</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Register For Member</h1>
        <div class="container" th:fragment="content">
            <div class="jumbotron">
                <form action="#" th:action="@{/member/add}" th:object="${member}" method="post">
                    <div class="table table-striped table-condensed">
                        <div class="row"><input type="hidden" th:field="*{id}" /></div>
                        <div class="row form-group">
                            <div class="col-sm-2">Fullname</div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" th:field="*{fullname}" /> 
                            </div> 
                            <div th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">Nickname</div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" th:field="*{nickname}" /> 
                            </div> 
                            <div th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">Birthdate</div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" th:field="*{birthdate}" /> 
                            </div> 
                            <div th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">Phone No</div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" th:field="*{phoneno}" /> 
                            </div> 
                            <div th:if="${#fields.hasErrors('phoneno')}" th:errors="*{phoneno}"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">Email</div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" th:field="*{email}" /> 
                            </div> 
                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">Address</div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" th:field="*{address}" /> 
                            </div> 
                            <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-2">
                                <input type="submit" class="form-control" value="Save" />
                            </div> 
                            <div class="col-sm-2">
                                <a href="list.html" class="btn btn-default" role="button" th:href="@{/member/list}">Return</a>
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>